Exercise 1 : Export A Dataframe To JSON With Orient (Easy)

In [ ]:
import kaggle
import pandas as pd

In [3]:
data = {
'UserID': range(1, 11),
'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 
         'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
'Age': [25, 30, 35, 40, 29, 34, 28, 31, 36, 33],
'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix',
         'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']
}

In [4]:
df = pd.DataFrame(data)

In [5]:
json_split = df.to_json(orient='split', indent=4)
json_records = df.to_json(orient='records', indent=4)
json_index = df.to_json(orient='index', indent=4)
json_columns = df.to_json(orient='columns', indent=4)
json_values = df.to_json(orient='values', indent=4)
json_table = df.to_json(orient='table', indent=4)

In [6]:
print("JSON Split Orientation:\n", json_split, "\n")
print("JSON Records Orientation:\n", json_records, "\n")
print("JSON Index Orientation:\n", json_index, "\n")
print("JSON Columns Orientation:\n", json_columns, "\n")
print("JSON Values Orientation:\n", json_values, "\n")
print("JSON Table Orientation:\n", json_table, "\n")

JSON Split Orientation:
 {
    "columns":[
        "UserID",
        "Name",
        "Age",
        "City"
    ],
    "index":[
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9
    ],
    "data":[
        [
            1,
            "Alice",
            25,
            "New York"
        ],
        [
            2,
            "Bob",
            30,
            "Los Angeles"
        ],
        [
            3,
            "Charlie",
            35,
            "Chicago"
        ],
        [
            4,
            "David",
            40,
            "Houston"
        ],
        [
            5,
            "Emma",
            29,
            "Phoenix"
        ],
        [
            6,
            "Frank",
            34,
            "Philadelphia"
        ],
        [
            7,
            "Grace",
            28,
            "San Antonio"
        ],
        [
            8,
            "Hannah",
            31,
            "San Diego"
        ],
        [
            9,
            "Ian",
            36,
            "Dallas"
        ],
        [
            10,
            "Jane",
            33,
            "San Jose"
        ]
    ]
}

JSON Records Orientation:
 [
    {
        "UserID":1,
        "Name":"Alice",
        "Age":25,
        "City":"New York"
    },
    {
        "UserID":2,
        "Name":"Bob",
        "Age":30,
        "City":"Los Angeles"
    },
    {
        "UserID":3,
        "Name":"Charlie",
        "Age":35,
        "City":"Chicago"
    },
    {
        "UserID":4,
        "Name":"David",
        "Age":40,
        "City":"Houston"
    },
    {
        "UserID":5,
        "Name":"Emma",
        "Age":29,
        "City":"Phoenix"
    },
    {
        "UserID":6,
        "Name":"Frank",
        "Age":34,
        "City":"Philadelphia"
    },
    {
        "UserID":7,
        "Name":"Grace",
        "Age":28,
        "City":"San Antonio"
    },
    {
        "UserID":8,
        "Name":"Hannah",
        "Age":31,
        "City":"San Diego"
    },
    {
        "UserID":9,
        "Name":"Ian",
        "Age":36,
        "City":"Dallas"
    },
    {
        "UserID":10,
        "Name":"Jane",
        "Age":33,
        "City":"San Jose"
    }
]

JSON Index Orientation:
 {
    "0":{
        "UserID":1,
        "Name":"Alice",
        "Age":25,
        "City":"New York"
    },
    "1":{
        "UserID":2,
        "Name":"Bob",
        "Age":30,
        "City":"Los Angeles"
    },
    "2":{
        "UserID":3,
        "Name":"Charlie",
        "Age":35,
        "City":"Chicago"
    },
    "3":{
        "UserID":4,
        "Name":"David",
        "Age":40,
        "City":"Houston"
    },
    "4":{
        "UserID":5,
        "Name":"Emma",
        "Age":29,
        "City":"Phoenix"
    },
    "5":{
        "UserID":6,
        "Name":"Frank",
        "Age":34,
        "City":"Philadelphia"
    },
    "6":{
        "UserID":7,
        "Name":"Grace",
        "Age":28,
        "City":"San Antonio"
    },
    "7":{
        "UserID":8,
        "Name":"Hannah",
        "Age":31,
        "City":"San Diego"
    },
    "8":{
        "UserID":9,
        "Name":"Ian",
        "Age":36,
        "City":"Dallas"
    },
    "9":{
        "UserID":10,
        "Name":"Jane",
        "Age":33,
        "City":"San Jose"
    }
}

JSON Columns Orientation:
 {
    "UserID":{
        "0":1,
        "1":2,
        "2":3,
        "3":4,
        "4":5,
        "5":6,
        "6":7,
        "7":8,
        "8":9,
        "9":10
    },
    "Name":{
        "0":"Alice",
        "1":"Bob",
        "2":"Charlie",
        "3":"David",
        "4":"Emma",
        "5":"Frank",
        "6":"Grace",
        "7":"Hannah",
        "8":"Ian",
        "9":"Jane"
    },
    "Age":{
        "0":25,
        "1":30,
        "2":35,
        "3":40,
        "4":29,
        "5":34,
        "6":28,
        "7":31,
        "8":36,
        "9":33
    },
    "City":{
        "0":"New York",
        "1":"Los Angeles",
        "2":"Chicago",
        "3":"Houston",
        "4":"Phoenix",
        "5":"Philadelphia",
        "6":"San Antonio",
        "7":"San Diego",
        "8":"Dallas",
        "9":"San Jose"
    }
}

JSON Values Orientation:
 [
    [
        1,
        "Alice",
        25,
        "New York"
    ],
    [
        2,
        "Bob",
        30,
        "Los Angeles"
    ],
    [
        3,
        "Charlie",
        35,
        "Chicago"
    ],
    [
        4,
        "David",
        40,
        "Houston"
    ],
    [
        5,
        "Emma",
        29,
        "Phoenix"
    ],
    [
        6,
        "Frank",
        34,
        "Philadelphia"
    ],
    [
        7,
        "Grace",
        28,
        "San Antonio"
    ],
    [
        8,
        "Hannah",
        31,
        "San Diego"
    ],
    [
        9,
        "Ian",
        36,
        "Dallas"
    ],
    [
        10,
        "Jane",
        33,
        "San Jose"
    ]
]

JSON Table Orientation:
 {
    "schema":{
        "fields":[
            {
                "name":"index",
                "type":"integer"
            },
            {
                "name":"UserID",
                "type":"integer"
            },
            {
                "name":"Name",
                "type":"string"
            },
            {
                "name":"Age",
                "type":"integer"
            },
            {
                "name":"City",
                "type":"string"
            }
        ],
        "primaryKey":[
            "index"
        ],
        "pandas_version":"1.4.0"
    },
    "data":[
        {
            "index":0,
            "UserID":1,
            "Name":"Alice",
            "Age":25,
            "City":"New York"
        },
        {
            "index":1,
            "UserID":2,
            "Name":"Bob",
            "Age":30,
            "City":"Los Angeles"
        },
        {
            "index":2,
            "UserID":3,
            "Name":"Charlie",
            "Age":35,
            "City":"Chicago"
        },
        {
            "index":3,
            "UserID":4,
            "Name":"David",
            "Age":40,
            "City":"Houston"
        },
        {
            "index":4,
            "UserID":5,
            "Name":"Emma",
            "Age":29,
            "City":"Phoenix"
        },
        {
            "index":5,
            "UserID":6,
            "Name":"Frank",
            "Age":34,
            "City":"Philadelphia"
        },
        {
            "index":6,
            "UserID":7,
            "Name":"Grace",
            "Age":28,
            "City":"San Antonio"
        },
        {
            "index":7,
            "UserID":8,
            "Name":"Hannah",
            "Age":31,
            "City":"San Diego"
        },
        {
            "index":8,
            "UserID":9,
            "Name":"Ian",
            "Age":36,
            "City":"Dallas"
        },
        {
            "index":9,
            "UserID":10,
            "Name":"Jane",
            "Age":33,
            "City":"San Jose"
        }
    ]
}

Exercise 2: Export A Dataframe From Excel

In [8]:
data2 = pd.DataFrame({
'Date': pd.date_range('20210101', periods=20),
'Product': ['Product A', 'Product B', 'Product C'] * 6 + ['Product A', 'Product B'],
'Quantity': [2, 3, 5, 7, 1] * 4,
'Revenue': [210.50, 340.60, 450.30, 120.10, 150.75] * 4
})

In [10]:
df2 = pd.DataFrame(data2)

In [12]:
file_path = 'Test1.xlsx'

# Write the DataFrame to an Excel file
df2.to_excel(file_path, index=False, engine='openpyxl')

In [14]:
pip install xlsxwriter

Collecting xlsxwriter
  Obtaining dependency information for xlsxwriter from https://files.pythonhosted.org/packages/a7/ea/53d1fe468e63e092cf16e2c18d16f50c29851242f9dd12d6a66e0d7f0d02/XlsxWriter-3.2.0-py3-none-any.whl.metadata
  Downloading XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
   ---------------------------------------- 0.0/159.9 kB ? eta -:--:--
   -- ------------------------------------- 10.2/159.9 kB ? eta -:--:--
   ------- ------------------------------- 30.7/159.9 kB 330.3 kB/s eta 0:00:01
   -------------- ------------------------ 61.4/159.9 kB 469.7 kB/s eta 0:00:01
   ----------------------------- -------- 122.9/159.9 kB 722.1 kB/s eta 0:00:01
   -------------------------------------- 159.9/159.9 kB 870.3 kB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
with pd.ExcelWriter(file_path, engine='xlsxwriter') as writer:
    # Write the DataFrame to the writer
    df2.to_excel(writer, sheet_name='Sheet1', index=False)
    
    # Access the XlsxWriter workbook and worksheet objects
    workbook  = writer.book
    worksheet = writer.sheets['Sheet1']
    
    # Define your number formats
    format_currency = workbook.add_format({'num_format': '$#,##0.00'})
    format_number = workbook.add_format({'num_format': '#,##0'})
    
    # Set the column formats
    worksheet.set_column('D:D', None, format_currency)  # Column D: Revenue
    worksheet.set_column('C:C', None, format_number)    # Column C: Quantity

In [17]:
import pandas as pd

# Sample DataFrame
data = pd.DataFrame({
    'Date': pd.date_range('20210101', periods=20),
    'Product': ['Product A', 'Product B', 'Product C'] * 6 + ['Product A', 'Product B'],
    'Quantity': [2, 3, 5, 7, 1] * 4,
    'Revenue': [210.50, 340.60, 450.30, 120.10, 150.75] * 4
})

# Export to Excel with formatting using xlsxwriter
file_path = 'Test1.xlsx'
with pd.ExcelWriter(file_path, engine='xlsxwriter') as writer:
    data.to_excel(writer, sheet_name='Sheet1', index=False)
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']
    
    # Header format
    header_format = workbook.add_format({'bold': True, 'text_wrap': True,
                                         'valign': 'top', 'fg_color': '#D7E4BC', 'border': 1})
    
    for col_num, value in enumerate(data.columns.values):
        worksheet.write(0, col_num, value, header_format)
    
    # Set number formats
    currency_format = workbook.add_format({'num_format': '$#,##0.00'})
    number_format = workbook.add_format({'num_format': '#,##0'})
    worksheet.set_column('D:D', 18, currency_format)  # For Revenue
    worksheet.set_column('C:C', 18, number_format)    # For Quantity

# Auto-adjust columns' width using openpyxl
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter

wb = load_workbook(file_path)
ws = wb['Sheet1']

def auto_adjust_columns_width(ws):
    for col in ws.columns:
        max_length = 0
        column = col[0].column  # Get the column name
        for cell in col:
            try:
                if len(str(cell.value)) > max_length:
                    max_length = len(cell.value)
            except:
                pass
        adjusted_width = (max_length + 2)
        ws.column_dimensions[get_column_letter(column)].width = adjusted_width

auto_adjust_columns_width(ws)
wb.save(file_path)

print("Excel file has been created and formatted.")

Excel file has been created and formatted.

In [28]:
for i,chunk in enumerate(pd.read_csv('example_sample_submission.csv', chunksize=10)):
    df = pd.DataFrame(chunk)
    df_sum = df.sum()
    df_sum.to_csv(f'output_chunk{i+1}.csv', mode='a')

In [ ]:
for chunk in pd.read_csv('example_sample_submission.csv', chunksize=10):
    df = pd.DataFrame(chunk)
    df_sum = df.sum()
    df_sum.to_csv(f'output_chunk.csv', mode='a')

In [29]:
large_df = pd.read_csv('example_sample_submission.csv')
large_df.to_parquet('large_data.parquet')